 {
    "presets" :[["@babel/preset-env", {"targets": {"node": "18.14.2"}}],
    ["@babel/preset-react",{"runtime":"automatic"}]
    ],
    "plugins": [
      "@babel/plugin-transform-arrow-functions"
    ]
    }
    
